<div class="players-page">
  <div class="page-header">
    <h1 class="page-title">Players</h1>
    <span class="subheader">All FPL Players</span>
  </div>
  <app-players-filters (filterChange)="onFilterChange($event)"></app-players-filters>
  <div class="players-table-wrapper">
    <app-orderable-table
      [headers]="tableHeaders"
      [orderBy]="orderBy"
      [orderDir]="orderDir"
      (sort)="setOrder($event.column, $event.direction)">
      @for (player of players; track player.playerName) {
        <tr>
        <td class="sticky-col">{{ player.playerName }}</td>
        <td class="sticky-col second">{{ player.teamName }}</td>
  <td>{{ player.position | position }}</td>
        <td>{{ player.cost | cost }}</td>
        <td>{{ player.bonus }}</td>
        <td>{{ player.totalPoints }}</td>
        <td>{{ player.minutes }}</td>
        <td>{{ player.goals }}</td>
        <td>{{ player.assists }}</td>
        <td>{{ player.cleanSheets }}</td>
        <td>{{ player.pointsPerGame }}</td>
        <td>{{ player.form }}</td>
        <td>{{ player.expectedAssistsPer90 }}</td>
        <td>{{ player.expectedGoalInvolvementsPer90 }}</td>
        <td>{{ player.expectedGoalsPer90 }}</td>
        <td>{{ player.expectedGoalsConcededPer90 }}</td>
        <td>{{ player.defensiveContributionPer90 }}</td>
        <td>{{ player.savesPer90 }}</td>
        <td>{{ player.selectedByPercent }}</td>
        <td>{{ player.valueSeason }}</td>
        <td>{{ player.valueForm }}</td>
        <td>{{ player.bps }}</td>
        <td>{{ player.influence }}</td>
        <td>{{ player.creativity }}</td>
        <td>{{ player.threat }}</td>
        <td>{{ player.ictIndex }}</td>
      </tr>
      }
    </app-orderable-table>
    @if (loading) {
      <app-loading-spinner></app-loading-spinner>
    }
      <div class="pager">
        <button (click)="prevPage()" [disabled]="page === 1 || loading">Previous</button>
        <span>Page {{ page }}</span>
        <button (click)="nextPage()" [disabled]="loading">Next</button>
      </div>
  </div>
